.App {
  text-align: center;
  background-image: url('https://www.sky.de/static/img/serienhighlights/sky_16-03_gameofthrones-uebersicht_sub_s.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}



.App-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7); /* 0.7 = 70% transparent, stärkerer Effekt */
  z-index: 0;
  pointer-events: none;
}

.App > *:not(.App-bg-overlay) {
  position: relative;
  z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  font-size: calc(10px + 2vmin);
  background: transparent;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
